/** border: 5px solid #000000; **/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

#container {
  width: auto;
  margin: 0 auto;
}

#container h1 {
  font-size: 14px;
  font-family: Open Sans;
  letter-spacing: 4px;
  padding: 40px;
  text-transform: uppercase;
  text-align: center;
}

div {
  overflow: hidden;
  padding-bottom: 20px;
}

/** not sure how to center the image inside crop **/
img {
  width: 125%;
}

#previews h1 {
  font-size: 20px;
  font-family: serif;
  float: left;
  letter-spacing: normal;
  position: absolute;
  text-transform: capitalize;
}

/* code added to create two-column design (TABLET) */

@media screen and (min-width: 575px)
{
   div {
    width: 48%;
  }

  #previews {
    float: left;
  }
}

/* code added to create 4-column design (DESKTOP) */

@media screen and (min-width: 991px)
{
   div {
    width: 20%;
  }
}
