/** border: 5px solid #000000; **/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

#container {
  width: 100%;
  margin: 0 auto;
}

#container h1 {
  font-size: 14px;
  font-family: Open Sans;
  letter-spacing: 4px;
  padding: 30px 0px 10px 0px;
  text-transform: uppercase;
  text-align: center;
}

div {
  padding: 10px 0px;
  overflow: hidden;
}

/** not sure how to center the image inside crop **/
img {
  width: 125%;
}

#previews h1 {
  font-size: 20px;
  font-family: serif;
  float: left;
  letter-spacing: normal;
  margin: 20px 0px 0px 50px;
  position: absolute;
  text-transform: capitalize;
}

/* code added to create two-column design */

@media screen and (min-width: 575px)
{
   div {
    margin: 1%;
    width: 48%;
  }
}
