/* border: 5px solid #000000; */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 10px;
  line-height: 1.5em;
}

.content h1 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.column h5 {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}

.eastbound h1,.northbound h1 {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(255, 77, 25, 0.5);
	padding: 20px 0px;
}

.lines {
	width: 60%;
	height: auto;
	border: 5px solid #000000;
}

nav {
	background-image: url(../images/status-bar.png);
	background-repeat: no-repeat;
  background-size: auto;
	font-size: 10px;
	padding: 10px;
}

.arrow-left {
	color: #FF7630;
}

.column {
	border: 1px solid #000000;
	display: inline-block;
	height: auto;
	padding: 10px;
	text-align: left;
	width: 38%;
}

section .bus-routes {
	text-align: center;
}
