/* border: 5px solid #000000; */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
	font-size: 15px;
  font-family: Futura, sans-serif;
  line-height: 1.3em;
}

nav {
	background-image: url(../images/status-bar.png);
	background-repeat: no-repeat;
  background-size: auto;
	font-size: 10px;
	padding: 10px;
}

.arrow-left {
	color: #FF7630;
  margin: 45px 0px -45px 0px;
}

.header-title h2 {
  background-color: rgba(255, 77, 25, 0.25);
  font-size: 16px;
  font-style: italic;
  color: #FF3B30;
  text-align: center;
  padding: 10px;
}

/** dividers **/
.eastbound h1, .northbound h1, .southbound h1, .reroute h1, .out-of-service h1 {
	border-top: 2px solid;
	border-color: rgba(255, 77, 25, 0.25);
  font-size: 22px;
	font-weight: 700;
  padding-top: 25px;
  padding-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}

.bus-number {
  background-image: linear-gradient(#FF3B30, #FF9500);
	border-radius: 5px;
  color: white;
  font-weight: 700;
  width: 42px;
  height: 42px;
}

.bus-destination {
  text-align: left;
  padding-left: 15px;
  width: 50%;
  height: 42px;
}

.bus-frequency {
  text-align: left;
  width: 21%;
}

li.arriving {
  background: #FF3B30;
  color: white;
  vertical-align: middle;
}

li.arriving .bus-number {
    border: 2px solid #ffffff;
    margin-left: -11px;
}

li.arriving h3 {
  font-family: Open Sans Condensed, sans-serif;
  text-transform: uppercase;
}

li {
  padding: 15px 0px;
  text-align: center;
}

li div {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 5px 10px 5px;
}
