/* border: 5px solid #000000; */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
	font-size: 15px;
  font-family: Futura, sans-serif;
}

nav {
	background-image: url(../images/status-bar.png);
	background-repeat: no-repeat;
  background-size: auto;
	font-size: 10px;
	padding: 10px;
}

.arrow-left {
	color: #FF7630;
}

.eastbound h1 {
}

.content h1 {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

/** dividers **/
.eastbound h1,.northbound h1,.southbound h1, .reroute h1, .out-of-service h1 {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(255, 77, 25, 0.25);
}

li div {
	display: inline-block;
	text-align: left;
}

ul {
	text-align: center;
}

div .number {
	background-image: linear-gradient(#FF3B30, #FF9500);
	border-radius: 5px;
	width: 45px;
	height: 45px;
}

.bus-number {
	font-weight: 700;
	color: white;
	width: 20%;
	text-align: center;
	border: 1px solid #000000;
}

.bus-destination {
	width: 35%;
	border: 1px solid #000000;
}
.bus-frequency {
	width: 30%;
	border: 1px solid #000000;
}
